{% extends "base.html" %}

{% block content %}

<h2>Controle de Insumos</h2>

<form method="POST" class="row g-2">

<div class="col-md-4">
<input name="nome" placeholder="Insumo" class="form-control">
</div>

<div class="col-md-4">
<input name="valor" placeholder="Valor" class="form-control">
</div>

<div class="col-md-4">
<button class="btn btn-warning">
Adicionar
</button>
</div>

</form>

<hr>

<table class="table table-striped">

<tr>
<th>Insumo</th>
<th>Valor</th>
<th>Data</th>
<th>Ação</th>
</tr>

{% for i in lista %}

<tr>

<td>{{i[1]}}</td>
<td>{{i[2]}}</td>
<td>{{i[3]}}</td>

<td>

<a href="/excluir_insumo/{{i[0]}}" class="btn btn-danger btn-sm">

Excluir

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}